<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="OPAC_MasterPage" %>

<%@ Register assembly="DevExpress.Web.v16.1, Version=16.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web" tagprefix="dx" %>

<%@ Register src="../../UserControls/PasswordChanger.ascx" tagname="passwordchanger" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
  <title>Campus Dynamics :: Higher Education ERP</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="Academica ERP OPAC, IUIU Library" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="~/COOPERP/css/style.css" />
  <link rel="shortcut icon" href="~/COOPERP/images/tinylogo.gif?img=1" />
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style2
        {
            width: 300px;
            background-image: url('..images/header_1_backgrimg.png');
        }
        .backImg
        {
            background-image: url('../images/header_1_backgrimg.png');
        }

    .options
    {
        height: 20px;
        width: 150px;
    }
      


        </style>
</head>
<body>
    <form id="form1" runat="server">
    <div id="main">
    <header>
	    <!--close banner-->	
	</header>
	
	<nav>
	  <div id="menubar">
        
      </div><!--close menubar-->	
    </nav>	
    
	<div id="site_content">			
	
	    <table class="style1">
            <tr>
                <td>
                <table cellspacing="0" class="style1" cellpadding="0">
                    <tr class="backImg">
                        <td class="style2">
                            <img src="../images/header_1_leftimg.png" alt="Academica ERP Library Module"/></td>
                        <td class="backImg">
                           </td>
                        <td align="right" class="style2">
                            <img src="../images/header_1_rightimg.png" alt="" /></td>
                    </tr>
                </table>
                </td>
            </tr>
            <tr>
                <td align="right">
        
          <dx:ASPxMenu ID="ASPxMenu1" runat="server" Width="100%" ItemImagePosition="Top">
              <Items>
                  <dx:MenuItem Name="Dashboard" Text="Control Panel" 
                      NavigateUrl="~/MyApplications.aspx">
                      <Image Url="~/COOPERP/images/application-icon.png">
                      </Image>
                  </dx:MenuItem>
<dx:MenuItem Text="Admission Analytics" NavigateUrl="~/COOPERP/Executive/Default.aspx">
<Image IconID="chart_changechartseriestype_16x16"></Image>
</dx:MenuItem>
                  <dx:MenuItem 
                      Text="Enrolment Analytics" NavigateUrl="~/COOPERP/Executive/EnrolmentStats.aspx">
                       <Image IconID="chart_chart_16x16">
                      </Image>
                  </dx:MenuItem>
                  <dx:MenuItem Text="Financial Analytics">
                      <Image IconID="chart_stackedbar_16x16">
                      </Image>
                  </dx:MenuItem>
                  <dx:MenuItem Text="Documents Centre">
                     
                      <Image Url="~/COOPERP/images/reports-stack.png">
                      </Image>
                     
                  </dx:MenuItem>
              </Items>
              <ItemStyle>
              <Paddings Padding="10px" />
              </ItemStyle>
              <SubMenuItemStyle>
                  <Paddings Padding="10px" />
              </SubMenuItemStyle>
          </dx:ASPxMenu>
          
          <!-- FLOATING NEW DASHBOARD BUTTON -->
          <style>
              @keyframes floatPulse {
                  0%, 100% { transform: translateY(0); }
                  50% { transform: translateY(-5px); }
              }
              @keyframes badgePop {
                  0%, 100% { transform: scale(1); }
                  50% { transform: scale(1.1); }
              }
              .float-new-dash {
                  position: fixed;
                  bottom: 30px;
                  right: 30px;
                  z-index: 9999;
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  background: #174DA4;
                  color: #fff !important;
                  padding: 14px 22px;
                  border-radius: 50px;
                  text-decoration: none;
                  font-weight: 600;
                  font-size: 14px;
                  box-shadow: 0 4px 20px rgba(23, 77, 164, 0.5);
                  animation: floatPulse 2s ease-in-out infinite;
                  transition: all 0.3s ease;
              }
              .float-new-dash span,
              .float-new-dash svg {
                  color: #fff !important;
                  fill: none;
                  stroke: #fff !important;
              }
              .float-new-dash:hover {
                  background: #0f3a7d;
                  color: #fff !important;
                  transform: scale(1.08) translateY(-3px);
                  box-shadow: 0 8px 30px rgba(23, 77, 164, 0.6);
              }
              .float-new-dash .new-dot {
                  position: absolute;
                  top: -5px;
                  right: -5px;
                  background: #ff4757;
                  color: #fff;
                  font-size: 9px;
                  font-weight: 700;
                  padding: 4px 8px;
                  border-radius: 10px;
                  animation: badgePop 1.5s ease-in-out infinite;
              }
          </style>
          <a href="<%= ResolveUrl("~/COOPERP/NewScreens/NewDashboard.aspx") %>" target="_blank" class="float-new-dash">
              <span class="new-dot">NEW</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
              <span>New Dashboard</span>
          </a>
          <!-- END FLOATING BUTTON -->
        
                </td>
            </tr>
            <tr>
                <td align="right">
	      <asp:ScriptManager ID="ScriptManager1" runat="server">
          </asp:ScriptManager>
	                <table cellspacing="1" class="style1">
                        <tr>
                            <td style="text-align: left">
                                                            <dx:ASPxLabel ID="lbl_date" runat="server" ForeColor="Red">
                                                            </dx:ASPxLabel>
                            </td>
                            <td align="right"><dx:ASPxImage ID="ASPxImage2" runat="server" ImageAlign="AbsBottom" ImageUrl="~/COOPERP/images/user.png">
                                                            </dx:ASPxImage>
&nbsp;<dx:ASPxLabel ID="ASPxLabel1" runat="server" Text="Current User:">
                                                            </dx:ASPxLabel>
&nbsp;<asp:LoginName ID="LoginName1" runat="server" />
&nbsp;<asp:LoginStatus ID="LoginStatus1" runat="server" Font-Underline="False" ForeColor="Blue" LoginText=" | Login |" 
                                                                LogoutAction="RedirectToLoginPage" LogoutText=" | Logout |" />
                                <dx:ASPxHyperLink ID="cmdPasschange" runat="server" Text="Change Password |" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        </asp:UpdatePanel>
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <br />
                    <dx:ASPxImage ID="ASPxImage1" runat="server" Height="1px" 
                        ImageUrl="~/COOPERP/images/hor_line.png" Width="100%">
                    </dx:ASPxImage>
                    <br />
                    <br />
                    <dx:ASPxLabel ID="lbl_footer" runat="server" ForeColor="Blue">
                    </dx:ASPxLabel>
                    <br />
                    <dx:ASPxPopupControl ID="pop_passchange" runat="server" HeaderText="" 
                        Height="200px" PopupElementID="cmdPasschange" 
                        PopupHorizontalAlign="WindowCenter" PopupVerticalAlign="WindowCenter" 
                        Width="200px">
                        <ContentCollection>
<dx:PopupControlContentControl runat="server">
    <uc1:PasswordChanger ID="PasswordChanger1" runat="server" />
                            </dx:PopupControlContentControl>
</ContentCollection>
                    </dx:ASPxPopupControl>
                </td>
            </tr>
        </table>
        <!--close sidebar_container-->	
	
	    <!--close content-->   
	
	</div><!--close site_content-->  	
  
  </div><!--close main-->
  
    </form>
</body>
</html>
