<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="OPAC_MasterPage" %>

<%@ Register assembly="DevExpress.Web.v16.1, Version=16.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web" tagprefix="dx" %>

<%@ Register src="../../UserControls/PasswordChanger.ascx" tagname="passwordchanger" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
  <title>Campus Dynamics :: Higher Education ERP</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="Academica ERP OPAC, IUIU Library" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="~/COOPERP/css/style.css" />
  <link rel="shortcut icon" href="~/COOPERP/images/tinylogo.gif" />
  <!-- Feather Icons -->
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style2
        {
            width: 300px;
            background-image: url('..images/header_1_backgrimg.png');
        }
        .backImg
        {
            background-image: url('../images/header_1_backgrimg.png');
        }

    .options
    {
        height: 20px;
        width: 150px;
    }
    
    /* Feather icon styling for menu */
    .menu-icon {
        width: 16px;
        height: 16px;
        stroke-width: 2;
        vertical-align: middle;
        margin-right: 6px;
    }
    .dxm-item .menu-icon {
        display: inline-block;
    }

        </style>
</head>
<body>
    <form id="form1" runat="server">
    <div id="main">
    <header>
	    <!--close banner-->	
	</header>
	
	<nav>
	  <div id="menubar">
        
      </div><!--close menubar-->	
    </nav>	
    
	<div id="site_content">			
	
	    <table class="style1">
            <tr>
                <td>
                <table cellspacing="0" class="style1" cellpadding="0">
                    <tr class="backImg">
                        <td class="style2">
                            <img src="../images/header_1_leftimg.png" alt="Academica ERP Library Module"/></td>
                        <td class="backImg">
                           </td>
                        <td align="right" class="style2">
                            <img src="../images/header_1_rightimg.png" alt="" /></td>
                    </tr>
                </table>
                </td>
            </tr>
            <tr>
                <td align="right">
        
          <dx:ASPxMenu ID="ASPxMenu1" runat="server" Width="100%" ItemImagePosition="Top">
              <Items>
                  <dx:MenuItem Name="Dashboard" Text="Control Panel" 
                      NavigateUrl="~/MyApplications.aspx">
                      <Image Url="~/COOPERP/images/application-icon.png">
                      </Image>
                  </dx:MenuItem>
<dx:MenuItem Text="Faculty Info" NavigateUrl="~/COOPERP/Faculty/Default.aspx">
<Image Url="~/COOPERP/images/user.png"></Image>
</dx:MenuItem>
                  <dx:MenuItem NavigateUrl="~/COOPERP/Faculty/Programmes.aspx" 
                      Text="Programme Info">
                       <Image Url="~/COOPERP/images/calendar-blue.png">
                      </Image>
                  </dx:MenuItem>
                  <dx:MenuItem Text="Course Info" NavigateUrl="~/COOPERP/Faculty/CourseInfo.aspx">
                     
                      <Image Url="~/COOPERP/images/reports-stack.png">
                      </Image>
                     
                  </dx:MenuItem>
                  <dx:MenuItem NavigateUrl="~/COOPERP/Faculty/GradingSystem.aspx" Text="Grading System">
                      <Image Url="~/COOPERP/images/clipboard-list.png">
                      </Image>
                  </dx:MenuItem>
                  <dx:MenuItem Text="New Menu" NavigateUrl="">
                      <Image Url="~/COOPERP/images/application-sidebar-list.png">
                      </Image>
                      <Items>
                          <dx:MenuItem Text="Faculties" NavigateUrl="~/COOPERP/NewScreens/NewFaculties.aspx">
                              <Template>
                                  <a href="../NewScreens/NewFaculties.aspx" style="display:flex; align-items:center; padding:5px 12px; text-decoration:none; color:inherit;">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-right:8px;"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                      <span>Faculties</span>
                                  </a>
                              </Template>
                          </dx:MenuItem>
                          <dx:MenuItem Text="Courses" NavigateUrl="#">
                              <Template>
                                  <a href="#" style="display:flex; align-items:center; padding:5px 12px; text-decoration:none; color:inherit;">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-right:8px;"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                                      <span>Courses</span>
                                  </a>
                              </Template>
                          </dx:MenuItem>
                          <dx:MenuItem Text="Programs" NavigateUrl="#">
                              <Template>
                                  <a href="#" style="display:flex; align-items:center; padding:5px 12px; text-decoration:none; color:inherit;">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-right:8px;"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                                      <span>Programs</span>
                                  </a>
                              </Template>
                          </dx:MenuItem>
                          <dx:MenuItem Text="Program Courses" NavigateUrl="#">
                              <Template>
                                  <a href="#" style="display:flex; align-items:center; padding:5px 12px; text-decoration:none; color:inherit;">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-right:8px;"><line x1="6" y1="3" x2="6" y2="15"></line><circle cx="18" cy="6" r="3"></circle><circle cx="6" cy="18" r="3"></circle><path d="M18 9a9 9 0 0 1-9 9"></path></svg>
                                      <span>Program Courses</span>
                                  </a>
                              </Template>
                          </dx:MenuItem>
                      </Items>
                  </dx:MenuItem>
              </Items>
          </dx:ASPxMenu>
        
                </td>
            </tr>
            <tr>
                <td align="right">
	      <asp:ScriptManager ID="ScriptManager1" runat="server">
          </asp:ScriptManager>
	                <table cellspacing="1" class="style1">
                        <tr>
                            <td style="text-align: left">
                                                            <dx:ASPxLabel ID="lbl_date" runat="server" ForeColor="Red">
                                                            </dx:ASPxLabel>
                            </td>
                            <td align="right"><dx:ASPxImage ID="ASPxImage2" runat="server" ImageAlign="AbsBottom" ImageUrl="~/COOPERP/images/user.png">
                                                            </dx:ASPxImage>
&nbsp;&nbsp;<asp:LoginName ID="LoginName1" runat="server" />
&nbsp;<asp:LoginStatus ID="LoginStatus1" runat="server" Font-Underline="False" ForeColor="Blue" LoginText=" | Login |" 
                                                                LogoutAction="RedirectToLoginPage" LogoutText=" | Logout |" />
                                <dx:ASPxHyperLink ID="cmdPasschange" runat="server" Text="Change Password |" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        </asp:UpdatePanel>
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <br />
                    <dx:ASPxImage ID="ASPxImage1" runat="server" Height="1px" 
                        ImageUrl="~/COOPERP/images/hor_line.png" Width="100%">
                    </dx:ASPxImage>
                    <br />
                    <br />
                    <dx:ASPxLabel ID="lbl_footer" runat="server" ForeColor="Blue">
                    </dx:ASPxLabel>
                    <br />
                    <dx:ASPxPopupControl ID="pop_passchange" runat="server" HeaderText="" 
                        Height="200px" PopupElementID="cmdPasschange" 
                        PopupHorizontalAlign="WindowCenter" PopupVerticalAlign="WindowCenter" 
                        Width="200px">
                        <ContentCollection>
<dx:PopupControlContentControl runat="server">
    <uc1:PasswordChanger ID="PasswordChanger1" runat="server" />
                            </dx:PopupControlContentControl>
</ContentCollection>
                    </dx:ASPxPopupControl>
                </td>
            </tr>
        </table>
        <!--close sidebar_container-->	
	
	    <!--close content-->   
	
	</div><!--close site_content-->  	
  
  </div><!--close main-->
  
  <!-- Initialize Feather Icons -->
  <script type="text/javascript">
      if (typeof feather !== 'undefined') {
          feather.replace();
      }
  </script>
    </form>
</body>
</html>
