<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="OPAC_MasterPage" %>

<%@ Register assembly="DevExpress.Web.v16.1, Version=16.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web" tagprefix="dx" %>

<%@ Register src="../../UserControls/PasswordChanger.ascx" tagname="passwordchanger" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
  <title>Campus Dynamics :: Higher Education ERP</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="Academica ERP OPAC, IUIU Library" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="~/COOPERP/css/style.css" />
  <link rel="shortcut icon" href="~/COOPERP/images/tinylogo.gif" />
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style2
        {
            width: 300px;
            background-image: url('..images/header_1_backgrimg.png');
        }
        .backImg
        {
            background-image: url('../images/header_1_backgrimg.png');
        }

    .options
    {
        height: 20px;
        width: 150px;
    }
      


        </style>
</head>
<body>
    <form id="form1" runat="server">
    <div id="main">
    <header>
	    <!--close banner-->	
	</header>
	
	<nav>
	  <div id="menubar">
        
      </div><!--close menubar-->	
    </nav>	
    
	<div id="site_content">			
	
	    <table class="style1">
            <tr>
                <td>
                <table cellspacing="0" class="style1" cellpadding="0">
                    <tr class="backImg">
                        <td class="style2">
                            <img src="../images/header_1_leftimg.png" alt="Academica ERP Library Module"/></td>
                        <td class="backImg">
                           </td>
                        <td align="right" class="style2">
                            <img src="../images/header_1_rightimg.png" alt="" /></td>
                    </tr>
                </table>
                </td>
            </tr>
            <tr>
                <td align="right">
        
          <dx:ASPxMenu ID="ASPxMenu1" runat="server" Height="35px" Width="100%">
              <Items>
                  <dx:MenuItem Name="Control Panel" Text="Control Panel" 
                      NavigateUrl="~/MyApplications.aspx">
                      <Image Url="~/COOPERP/images/application-icon.png">
                      </Image>
                  </dx:MenuItem>
<dx:MenuItem Text="Main Item 1" NavigateUrl="~/COOPERP/clinic/PatientInfo.aspx">
<Image Url="~/COOPERP/images/user.png"></Image>
</dx:MenuItem>
                  <dx:MenuItem NavigateUrl="~/COOPERP/clinic/Appointments.aspx" 
                      Text="Main Item 3">
                       <Image Url="~/COOPERP/images/calendar-blue.png">
                      </Image>
                  </dx:MenuItem>
                  <dx:MenuItem Text="Main Item 3">
                      <Items>
                          <dx:MenuItem 
                              Text="Sub Item 1">
                              <Image Url="~/COOPERP/images/clipboard--pencil.png">
                              </Image>
                          </dx:MenuItem>
                          <dx:MenuItem 
                              Text="Sub Item 2">
                              <Image Url="~/COOPERP/images/clipboard-list.png">
                              </Image>
                          </dx:MenuItem>
                      </Items>
                     
                      <Image Url="~/COOPERP/images/clipboard-task.png">
                      </Image>
                     
                  </dx:MenuItem>
                  <dx:MenuItem Text="Main Item 4">
                     
                      <Image Url="~/COOPERP/images/reports-stack.png">
                      </Image>
                  </dx:MenuItem>
              </Items>
          </dx:ASPxMenu>
        
                </td>
            </tr>
            <tr>
                <td align="right">
	      <asp:ScriptManager ID="ScriptManager1" runat="server">
          </asp:ScriptManager>
	                <table cellspacing="1" class="style1">
                        <tr>
                            <td style="text-align: left">
                                                            <dx:ASPxLabel ID="lbl_date" runat="server" ForeColor="Red">
                                                            </dx:ASPxLabel>
                            </td>
                            <td align="right"><dx:ASPxImage ID="ASPxImage2" runat="server" ImageAlign="AbsBottom" ImageUrl="~/COOPERP/images/user.png">
                                                            </dx:ASPxImage>
&nbsp;<dx:ASPxLabel ID="ASPxLabel1" runat="server" Text="Current User:">
                                                            </dx:ASPxLabel>
&nbsp;<asp:LoginName ID="LoginName1" runat="server" />
&nbsp;<asp:LoginStatus ID="LoginStatus1" runat="server" Font-Underline="False" ForeColor="Blue" LoginText=" | Login |" 
                                                                LogoutAction="RedirectToLoginPage" LogoutText=" | Logout |" />
                                <dx:ASPxHyperLink ID="cmdPasschange" runat="server" Text="Change Password |" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        </asp:UpdatePanel>
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <br />
                    <dx:ASPxImage ID="ASPxImage1" runat="server" Height="1px" 
                        ImageUrl="~/COOPERP/images/hor_line.png" Width="100%">
                    </dx:ASPxImage>
                    <br />
                    <br />
                    <dx:ASPxLabel ID="lbl_footer" runat="server" ForeColor="Blue">
                    </dx:ASPxLabel>
                    <br />
                    <dx:ASPxPopupControl ID="pop_passchange" runat="server" HeaderText="" 
                        Height="200px" PopupElementID="cmdPasschange" 
                        PopupHorizontalAlign="WindowCenter" PopupVerticalAlign="WindowCenter" 
                        Width="200px">
                        <ContentCollection>
<dx:PopupControlContentControl runat="server">
    <uc1:PasswordChanger ID="PasswordChanger1" runat="server" />
                            </dx:PopupControlContentControl>
</ContentCollection>
                    </dx:ASPxPopupControl>
                </td>
            </tr>
        </table>
        <!--close sidebar_container-->	
	
	    <!--close content-->   
	
	</div><!--close site_content-->  	
  
  </div><!--close main-->
  
    </form>
</body>
</html>
